<head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
</head>
<body>
  <div class="custom-header">
    <div class="lang-switch">
        <button class="btn btn-lang active" (click)="switchLanguage('fr')"data-lang="fr">français</button>
        <button class="btn btn-lang" (click)="switchLanguage('ar')"data-lang="ar">العربية</button>
    </div>
</div>
<nav class="sidenav">
    <img src="assets/image/logonabeul.jpg" width="50" width ="50"alt="Logo" class="logo" />
    <a href="/dashboard" class="nav-item" title="{{ 'dashboard' | translate }}" id="dashboardLink">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
          <path d="M3 3h8v8H3V3zm10 0h8v5h-8V3zM3 13h5v8H3v-8zm7 3h8v5h-8v-5z" />
      </svg>          
      <span>{{ 'dashboard' | translate }}</span>
  </a>
  <a href="/demandes" class="nav-item" title="{{ 'demandes' | translate }}" id="demandesLink">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
          <path d="M6 2a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8.828a2 2 0 00-.586-1.414l-5.828-5.828A2 2 0 0012.172 2H6zm6 1.414L17.586 9H14a2 2 0 01-2-2V3.414zM7 11h10a1 1 0 010 2H7a1 1 0 110-2zm0 4h7a1 1 0 010 2H7a1 1 0 010-2z" />
      </svg>
      <span>{{ 'demandes' | translate }}</span>
  </a>
  <a href="/users" class="nav-item" title="{{ 'utilisateurs' | translate }}" id="usersLink">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
          <path d="M12 12a5 5 0 100-10 5 5 0 000 10zm-7 8c0-2.761 2.239-5 5-5h4c2.761 0 5 2.239 5 5a1 1 0 01-1 1H6a1 1 0 01-1-1z" />
      </svg>
      <span>{{ 'utilisateurs' | translate }}</span>
  </a>
  <a href="/login" class="nav-item" title="{{ 'deconnexion' | translate }}" id="logoutLink">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
          <path d="M9 3a1 1 0 00-1 1v4a1 1 0 102 0V5h8v14h-8v-3a1 1 0 10-2 0v4a1 1 0 001 1h10a1 1 0 001-1V4a1 1 0 00-1-1H9zm2.707 6.707a1 1 010-1.414-1.414-1.414L7.586 11H16a1 1 0 100-2H7.586l2.707-2.707z" />
      </svg>
      <span class="dec">{{ 'deconnexion' | translate }}</span>
  </a>
</nav>
<div class="main-content">
    <h1 id="welcome" style="color:#689D71; text-align: center;">{{ 'bienvenue' | translate }}</h1>
    <section class="stats">
        <div class="stat-card">
            <div class="stat-icon" style="color: #E69557">
                <i class="fas fa-chart-line"></i>
              </div>
              
            <h3 id="processingRateTitle">{{ 'tauxTraitement' | translate }}</h3>
            <p id="processingRate">{{ getTauxTraitement() }}%</p>
        </div>
        <div class="stat-card">
            <div class="stat-icon" style="color: #689D71">
              <i class="fas fa-comments"></i>
            </div> 
            <h3 id="processedRequestsTitle">{{ 'demandesTraitees' | translate }}</h3>
            <p id="processedRequests">{{ traitesDemandes }}</p>
        </div>
        <div class="stat-card" id="stat-card">
            <div class="stat-icon" style="color: #E69557">
              <i class="fas fa-users"></i>
            </div>
            <h3 id="totalRequestsTitle">{{ 'totalDemandes' | translate }}</h3>
            <p id="totalRequests">{{ totalDemandes }}</p>
        </div>
    </section>
</div>
<div class="charts-container">
    <div class="chart-card">
        <h3 id="statsChartTitle">{{ 'etatDemandes' | translate }}</h3>
        <canvas id="statsChart"></canvas>
    </div>
    <div class="chart-card">
        <h3 id="municipalityChartTitle">{{ 'repartitionMunicipalite' | translate }}</h3>
        <canvas id="municipalityChart"></canvas>
    </div>
</div>
</body>
